<div class="container">

<!--  <ul class="nav nav-tabs">-->
<!--    <li class="nav-item">-->
<!--      <a class="nav-link active" href="#">Transacties</a>-->
<!--    </li>-->
<!--  </ul>-->

  <table class="table table-striped">
    <thead>
    <tr>
      <th class="col-3">datum</th>
      <th class="col-2">tegenrekening</th>
      <th class="col-2">bedrag</th>
      <th class="col-3">omschrijving</th>
      <th class="col-1">budget</th>
      <th class="col-1">soort</th>
      <th class="col-1">actie</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let tr of transaktieLijst">
      <td>{{tr.datum}}</td>
      <td>
        {{tr.naamTegenpartij}}<br/>
        <span class="badge bg-secondary text-light">{{tr.tegenrekening}}</span>
      </td>
      <td>{{tr.bedrag | currency : 'EUR'}}</td>
      <td>{{tr.omschrijving}}</td>
      <td>{{tr.budget}}</td>
      <td>{{tr.soort}}</td>
      <td><button type="button" class="btn btn-primary btn-sm">budget</button></td>
    </tr>
    </tbody>
  </table>
</div>


